- hosts: localhost
  gather_facts: no
  vars_files:
        - cred.yml
  tasks:
    - name: Running EC2 Role
      include_role:
        name: ec2

- hosts: ec2_master
  gather_facts: no
  vars_files:
    - cred.yml
  tasks:
    - name: Running K8s Master Role
      include_role:
        name: k8s_master

- hosts: ec2_slave
  gather_facts: no
  tasks:
    - name: Running K8s Slave Role
      include_role:
        name: k8s_slave

- hosts: ec2_master
  gather_facts: no
  vars_files:
    - cred.yml
  environment:
    AWS_REGION: ap-northeast-2
    AWS_ACCESS_KEY_ID: ""
    AWS_SECRET_ACCESS_KEY: ""
    AWS_SESSION_TOKEN: ""
  
  tasks:
    - name: Running CAPA Role
      include_role:
        name: capa

- hosts: ec2_master
  gather_facts: no
  vars_files:
     - mgmt.yml
  tasks:
    - name: Running K8s Master Nephio Bootstrap
      ansible.builtin.include_tasks: cluster.yml